{% extends "./layouts/base.html" %}

{% block content %}

<div class="container">
    <div class="jumbotron mt-5">
        <h1 class="display-4">Módulo de Gestión de Inventario</h1>
        <p class="lead">Módulo que simula un sistema para Inventarios</p>
        <hr class="my-4">
        <p>Testeame</p>
        <h5>Repositorio de github</h5>
        <a class="btn btn-primary btn-lg" target="_blank" href="https://github.com/Fastorcito/sistema_inventario_bodega" role="button">Github</a>
    </div>
</div>

{% endblock  %}

