{% extends "../layouts/base.html" %}

{% block content %}

<div class="container">
    <h1 class="my-4">Inventario en {{ location.name }}</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for inventory in inventories %}
            <tr>
                <td>{{ inventory.product.name }}</td>
                <td>{{ inventory.quantity }}</td>
                <td>
                    <form method="post" action="{% url 'add_quantity' inventory.id %}" class="d-inline">
                        {% csrf_token %}
                        <input type="number" name="quantity" value="1" min="1" class="form-control mr-1">
                        <button type="submit" class="btn btn-success btn-sm">Agregar</button>
                    </form>
                    <form method="post" action="{% url 'reduce_quantity' inventory.id %}" class="d-inline">
                        {% csrf_token %}
                        <input type="number" name="quantity" value="1" min="1" class="form-control mr-1">
                        <button type="submit" class="btn btn-danger btn-sm">Reducir</button>
                    </form>
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
